@{
    ViewData["Title"] = "Home Page";
}
<div>
    @ViewBag.t1
</div>
<div>
	@ViewBag.departments.Id   @ViewBag.departments.Name
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
